* {
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, #00dbde 0%, #fc00ff);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 2px solid #fafafa;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}

.cabecalho {
    color: #fafafaec;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
}

form {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    color: #fafafaec;
}

.controle-form {
    margin-bottom: 7px;
    padding-bottom: 7px;
    position: relative;
}

.controle-form label {
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 2px;
}

.controle-form input {
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 95%;
    padding: 10px;
    outline: none;
}

.controle-form i {
    position: absolute;
    top: 40%;
    right: 10px;
    visibility: hidden;
}

.controle-form small {
    font-size: 12px;
    font-weight: bold;
    bottom: 0;
    left: 0;
    margin-left: 4px;
    visibility: hidden;
}

.form button {
    background-color: #fc00ff;
    border: 2px solid #fc00ff;
    color: #f0f0f0;
    font-size: 14px;
    width: 102%;
    border-radius: 10px;
    padding: 10px;
}

.form button:hover {
    background-color: #00dbded9;
    border: 3px solid #00dbded9;
    font-size: 16px;
    padding: 8px;
}

/* erro e sucesso */

.controle-form.sucess input {
    border: 3px solid #11a950; 
} 

.controle-form.error input {
    border-color: #e74c3c; 
} 

.controle-form.sucess i.fa-check-circle {
    color: #2ecc71; 
    visibility: visible;
} 

.controle-form.error i.fa-exclamation-circle {
    color: #e74c3c; 
    visibility: visible;
}

.controle-form.error small {
    visibility: visible;
    color: #c31a08;
}